# Build artifacts
node_modules/
.shadow-cljs/
.cpcache/
target/
dist/
resources/public/js/
resources/public/assets/
resources/public/lib/
*.class

# Editor/IDE
.lsp/
.clj-kondo/
.nrepl-port
.vscode/

# OS
.DS_Store
Thumbs.db
