{:base-url "https://www.loicb.dev"

 :site
 {:author   "Loic Blanchard"
  :subtitle "Staff Software Engineer"
  :bio      "Clojure, architecture, and engineering decisions. Based in Singapore."
  :github   "https://github.com/skydread1"
  :linkedin "https://www.linkedin.com/in/blanchardloic/"
  :footer   "Built with Clojure(script)"}

 :rss-feeds
 {"clojure" {:title       "Loic Blanchard - Clojure Blog Feed"
             :description "Articles related to Clojure"}
  "all"     {:title       "Loic Blanchard - Blog Feed"
             :description "All blog articles"}}}
